<div *ngFor="let currency of currenciesByPage">
    <app-currency [currency]="currency"></app-currency>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a (click)="changePage(1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let page of numbeOfPagesCollection">
            <a (click)="changePage(page)">{{page}}</a>
        </li>
        <li>
            <a (click)="changePage(currencies.length/elementByPage)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>