<div class="col-sm-3 col-md-2 col-xs-6">
    <div class="thumbnail">
        <div class="caption">
            <p>Id: {{currency?.id}}</p>
            <p>
                <strong>Type : </strong>{{currency?.attributes?.currency_type}}
            </p>
            <p>
                <strong>Symbol : </strong>{{currency?.attributes?.symbol}}
            </p>
            <p>
                <a class="btn btn-primary" role="button" (click)="currencyDetails(currency)">More details...</a>
            </p>
        </div>
    </div>
</div>